body { 
    background: url("/image/banner1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.jumbotron{
	background-color: #121254;
  border-radius: 120px;
  color: white;
  min-height: 450px;
  max-height: 450px;
	margin:10px;
	padding-left:5px;
}
.jumbotron a{
  margin: 10px; 
}