body { 
    background: url("/image/banner1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.jumbotron{
	background-color: #121254;
  border-radius: 120px;
  color: white;
  min-height: 350px;
  max-height: 500px;
	margin:20px;
	padding:70px;
}